<main>
  <header class="header">
    <h1>El Mundo de las Guitarras</h1>
   
  </header>

  @if (products().length === 0) {
    <p>Cargando productos...</p>
  } @else {
    <section class="grid">
      @for (p of filteredProducts(); track p.id) {
        <app-product-card [product]="p" (add)="agregar($event)"></app-product-card>
      }
    </section>
    
    @if (filteredProducts().length === 0) {
      <p class="no-results">No se encontraron productos que coincidan con tu búsqueda.</p>
    }
  }
</main>
